html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
header {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 800px;
	margin: 0 auto;
}
 
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

a {
	display: flex;
    justify-content: space-evenly;
    padding: 15px;
    color: black;
    font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: darkgrey;
	text-decoration: underline;
}

button {
	border: 1px solid black;
	font-family: 'Bangers', cursive;
	font-size: 20px;
	background-color: transparent;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 1px solid black;
}

h1 {
	display:flex;
	font-size: 75px;
	text-align: center;
}

.h1 {
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	justify-content: center;
}

.top-img {
	width: 400px;
	margin: 0 auto; 
}

.middle-img {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 800px;
}


.top-section {
	display: flex;
	margin: 0 auto;
	padding: 25px;
	width: 800px;
}

.bottom-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 25px;
	border-bottom: 1px solid black;
}

.services {
	width: 30%;
	padding: 10px;
}

.product {
	width: 30%;
	padding: 10px;
}

.vision {
	width: 30%;	
	padding: 10px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	padding: 25px;
	width: 200px;
}


